---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";

type Props = {
  class?: string;
} & HTMLAttributes<"div">;

const { class: className = "", ...rest } = Astro.props as Props;
---

<div
  {...rest}
  role="group"
  data-slot="select-group"
  class={cn("scroll-my-1", className)}
>
  <slot />
</div>
