---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";

type Props = {
  class?: string;
} & HTMLAttributes<"div">;

const { class: className = "", ...rest } = Astro.props as Props;
---

<div
  {...rest}
  data-slot="select-label"
  class={cn("text-muted-foreground px-2 py-1.5 text-xs", className)}
>
  <slot />
</div>
