---
import { cva } from "class-variance-authority";
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

type Props = {
  class?: string;
} & HTMLAttributes<"div">;

const { class: className = "", ...rest } = Astro.props as Props;

const contentWrapperVariants = cva(
  "grid grid-rows-[0fr] transition-[grid-template-rows] duration-150 ease-in-out group-data-[state=open]/accordion:grid-rows-[1fr]",
);

const contentVariants = cva("overflow-hidden min-h-0 [&[hidden]]:!block");

const contentInnerVariants = cva("pt-0 pb-4");
---

<div class={cn("group/accordion", rest.class)} {...rest}>
  <div class={cn(contentWrapperVariants())}>
    <div data-slot="accordion-content" class={cn(contentVariants())}>
      <div class={cn(contentInnerVariants(), className)}>
        <slot />
      </div>
    </div>
  </div>
</div>
